@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@300;400;500&family=Playfair+Display:ital@0;1&family=Thasadith:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bf0bdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(42, 39, 39);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar {
  height: 75px;
  background-color: #e0dfcb;
  margin-top: 0;
}

.nav-buttons {
  font-family: 'Cormorant Garamond';
}

#small-logo {
  margin-top: 7px;
  height: 60px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer-logo {
  height: 100px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

#footer {
  background-color: #3d503a;
  margin-bottom: 0;
  height: 100px;
}

#photo-desc {
  font-family: 'Cormorant Garamond';
}

#all-posts {
  margin-left: 10px;
  margin-right: 10px;
}

#new-post {
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  color: #3d503a;
}

#profile-page {
  font-family: 'Cormorant Garamond';
  text-align: center;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 300px;
}

#toggler {
  font-family: 'Thasadith';
}

#silly-forms {
  font-family: 'Thasadith';
}

#following-photos {
  font-family: 'Cormorant Garamond';
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#following-photos-desc {
  font-family: 'Thasadith';
  color: #44433b9d;
}

#following-photos-title {
  font-family: 'Cormorant Garamond';
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #44433b;
}

#loading-screen {
  font-family: 'Abril Fatface';
  font-size: 50px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #56554ebf
}